.student-btn{
    padding: 12px 24px;
    border-radius: 2px;
    background-color: #38b2a6;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: #ffffff;
    display: inline-block;
    cursor: pointer
}
.student-btn:hover{
    background-color: #5acec2;
}