.student-input{
    height: 48px;
    border-radius: 2px;
    background-color: #ffffff;
    border: 1px solid #c8c9cb;
    font-size: 16px;
    line-height: 2;
    color: #4c4c4c;
    font-family: AvenirNext;
    padding: 8px 16px;
    width: 100%
}
.student-input {
    outline-color: #4c4c4c;
}
.student-input-div{
    position: relative;
}
.question-icon{
    position: absolute;
    right: 0;
    z-index: 5;
    background-image: url('tooltip.svg');
    background-repeat: no-repeat;
    background-position: 0px 16px;
    width: 32px;
    height: 48px;
    cursor: pointer;
}
.ant-popover-inner-content{
    background-color: #63656a;
    font-weight: 600;
    color: #ffffff;
    font-size: 12px;
}
.ant-popover-arrow{
    background-color: #63656a;
}
.input-title{
    margin-bottom: 12px;
    font-weight: 600;
}