.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* studengt */
.studeng-panel{
  padding: 32px 40px;
}
.clearboth{
  clear: both;
}
.student-floatL{
  float: left;
}
.student-floatR{
  float: right;
}
.student-marginBottom{
  margin-bottom: 24px;
}
.ant-btn-primary{
  background-color: #fcce01 !important; 
  border-color: #fcce01 !important; 
}
.ant-btn:hover{
  border-color: #fcce01 !important;
  color: #fcce01 !important;
}
.ant-btn-primary:hover{
  color: #ffffff !important;
}